<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://static.independent.co.uk/s3fs-public/thumbnails/image/2018/05/22/13/gin-cocktails.jpg?w968h681);">
  <div class="container">
    <h1>Welcome to Mister Cocktail!</h1>
    <p>The website where you can manage all your cocktails, either by adding new or editing existant ones</p>
    <%= link_to "Add a #{'<i class="fas fa-glass-martini"></i>'}".html_safe, new_cocktail_path, class: "btn btn-flat"%>
  </div>
</div>

<br>
<div class="container">
  <div class="row">
      <% @cocktails.each do |cocktail| %>
      <div class="card-container col-md-3">
        <div class="card-product">
          <%= cl_image_tag cocktail.photo, :radius=>"20", border: "1px_solid_grey", crop: :thumb %>
          <div class="card-product-infos">
            <h3><%= link_to cocktail.name, cocktail_path(cocktail), class: "cocktail" %></h3>
            <p>add ingredient <%= link_to '<i class="fas fa-plus-square"></i>'.html_safe, new_cocktail_dose_path(cocktail), class: "add-ingredient" %></p>
          </div>
        </div>
      </div>
      <% end %>

  </div>
</div>

    <div class="footer">
      <div class="footer-links">
        <a href="#"><i class="fab fa-github"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-linkedin"></i></a>
      </div>
      <div class="footer-copyright">
        This page is dedicated to all my fans &nbsp; <i class="fas fa-heart"></i>
      </div>
    </div>
